#toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: #66b0ff;
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}

/* Making a dot switch inside the Toggle Button */
#toggle::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #eee;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

/* Changing toggle button background when checked */
#toggle:checked {
  background: #f2f2f2f2;
}

/* Changing dot switch color and moving to the right side when checked */
#toggle:checked::before {
  background: #333;
  left: 73px;
}

#toggle:checked ~ .container {
  background-color: #333;
  color: #eee;
}
